Diagnostics:
  UnusedIncludes: None
  ClangTidy:
    Remove:
    - performance-*
    - readability-*
    - clang-analyzer-*
    - modernize-*
    - cert-*
    - portability-*
Hover:
  ShowAKA: Yes
Documentation:
  CommentFormat: Doxygen
