---
Checks: '-*,
        clang-analyzer-core.*,
        clang-analyzer-cplusplus.*,
        clang-analyzer-security.*,
        modernize-redundant-void-arg,
        modernize-use-bool-literals,
        modernize-use-equals-default,
        modernize-use-nullptr,
        modernize-use-override,
        google-readability-casting,
        readability-braces-around-statements,
        cert-dcl21-cpp,
        bugprone-undelegated-constructor,
        bugprone-macro-parentheses,
        bugprone-macro-repeated-side-effects,
        bugprone-forward-declaration-namespace,
        bugprone-bool-pointer-implicit-conversion,
        bugprone-misplaced-widening-cast,
        cppcoreguidelines-narrowing-conversions,
        misc-unconventional-assign-operator,
        misc-unused-parameters,
        misc-definitions-in-headers,
        -clang-analyzer-core.FixedAddressDereference,
        performance-for-range-copy'
WarningsAsErrors: ''
HeaderFilterRegex: '^(?!.*\.(h)$).*'
