Diagnostics:
  UnusedIncludes: None
  ClangTidy:
    Remove:
    - performance-*
    - cppcoreguidelines-pro-*
    - readability-*
    - clang-analyzer-*
Hover:
  ShowAKA: Yes
Documentation:
  CommentFormat: Doxygen
